$text_color_1: #9bcb3b;
$text_color_2: #673ab7;

.recipeItem {
  font-size: 1rem;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  h1, h2 {
    margin-bottom: 0;
  }

  .title {
    font-weight: 600;
    color: $text_color_1;
  }

  .category {
    font-style: italic;
    font-size: .8rem;
    color: $text_color_2;
  }

  .leadImg {
    img {
      border-radius: .5rem;
      max-width: 100%;
    }
  }

  .description {
    text-align: center;
  }

  .ingredients {

    .list {
      .item {
        height: inherit;
        padding-left: 0;
      }
    }
  }

  .imgSlider {
    width: 500px;
    max-width: 100%;
    margin: auto;
  }
}

.grids {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 600px) {
  .grids {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grids {
    grid-template-columns: repeat(2, 1fr);
  }
}
