<div class="container-fluid">
  <app-progress-spinner *ngIf="loading"></app-progress-spinner>

  <div *ngIf="!loading">
    <div class="container">
      <mat-form-field>
        <mat-label>Keresés</mat-label>
        <input matInput (keyup)="changeFilter($event)" placeholder="Keresés">
      </mat-form-field>

      <div class="w-100 text-center mb-3">
        <mat-slide-toggle color="primary" [(ngModel)]="onlyFavorites" (change)="changeFavorites()">
          Csak a kedvecnek között keressen!
        </mat-slide-toggle>
      </div>
    </div>
    <div *ngIf="filteredFoods.length; else elseBlock">
      <mat-grid-list [cols]="breakpoint" [rowHeight]="600" gutterSize="0" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let food of filteredFoods">
          <article class="recipeItem">
            <app-btn-favorite class="btn-favorite" [itemIdentifier]="food.id"></app-btn-favorite>
            <div class="entry-content" (click)="openItem(food.id)">
              <figure class="entry-content-item">
                <img src="{{food.image}}" alt="{{food.name}}"/>
              </figure>
              <div class="entry-content-item">
                <div class="entry-description">
                  <div class="entry-category "><span>{{food.category}}</span></div>
                  <div class="entry-title"><h2>{{food.name}}</h2></div>
                  <div class="entry-summary">{{food.shortDescription}}</div>
                </div>
              </div>
            </div>
          </article>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <h2 class="w-100 text-center errorMessage">{{errorMessage}}</h2>
</ng-template>
