<nav class="header-container">
  <mat-toolbar color="primary" class="navbar">
    <div>{{title}}</div>
    <div class="nav-toggler" (click)="toggleMenu()">
      <div class="toggler-icon" [class.is-open]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="nav-items" [class.is-open]="isMenuOpen">
      <a class="nav-item" *ngFor="let link of links" [routerLinkActive]="['link-active']" [routerLink]="[link.path]">{{link.label}}</a>
    </div>
  </mat-toolbar>
</nav>
