$text_color_1: #9bcb3b;
$text_color_2: #673ab7;

.errorMessage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: $text_color_2;
}

.btn-favorite {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.category-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}

.carousel-container {
  width: 85%;
  margin: 50px auto;
  position: relative;

  @media (max-width: 576px) {
    width: 95%;
  }

  @media (max-width: 768px) {
    width: 95%;
  }

  @media (max-width: 992px) {
    width: 95%;
  }

  @media (max-width: 1200px) {
    width: 85%;
  }

  @media (max-width: 1400px) {
    width: 85%;
  }

  .carousel-inner {
    width: 100%;
    height: 400px;
    overflow: hidden;

    .track {
      display: flex;

      height: 100%;
      transition: transform 0.2s ease-in-out;

      @media (min-width: 768px) {
        display: inline-flex;
      }

      .slider-item {
        width: 267px;
        height: 400px;
        flex-shrink: 0;
        padding-right: 10px;
        border-radius: .5rem;
        position: relative;

        @media (max-width: 767px) {
          width: 50%;
        }

        @media (max-width: 576px) {
          width: 100%;
        }

        .entry-content-item {
          background-color: #e1dfdf;
          width: 100%;
          height: 100%;
          border-radius: .5rem;

          figure {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            position: relative;
            overflow: hidden;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;

            @media (max-width: 576px) {
              display: block;
            }

            .entry-image {
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;


              @media (max-width: 576px) {
                width: 100%;
              }
            }
          }

          .entry-description {
            position: relative;
            padding: 0 20px 20px 20px;
            text-align: center;

            .entry-title {
              position: relative;
              padding-top: .5rem;
              font-size: 30px;
              line-height: 1.1em;
              margin-bottom: 8px !important;
              text-transform: uppercase;
            }

            .entry-summary {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              max-height: 75px;
              font-weight: normal;
              font-style: italic;
              font-size: .9rem;
            }
          }
        }
      }
    }

    .carousel-nav {
      button {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: white;
        background-color: $text_color_2;
        border: none;
        outline: none;

        &.prev {
          left: -30px;
        }

        &.next {
          right: -30px;
        }
      }

    }

  }
}






